.container{
    display:grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
    background-color: rgb(241, 72, 72);
}
.name-icon-details{
    display: flex;
    align-items: center;
}
.icon{
    width: 100px;
}
.svg{
    width: 20px;
}
.customer_name{
    color:black;
    font-size:4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 3rem;
    color: black;
    padding-left: 1rem;
}
li{
    
}

.active {
    
}
.links_container{
   display: flex;
   gap: 1rem;
   padding-right: 2rem;
}